body {
    margin: 0;
    padding: 0;
}
div {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #fff;
    _text-align: center;
}
.root {
    border: 2px solid #333;
    margin: 100px auto 0;
    width: 1000px;
    height: 500px;
}
.first_l,
.first_r {
    width: 45%;
    height: 70%;
    border: 2px solid #333;
    -webkit-align-self: center;
    align-self: center;
}
.second_l,
.second_r {
    width: 40%;
    height: 50%;
    border: 2px solid #333;
    -webkit-align-self: center;
    align-self: center;
}
.third_l,
.third_r {
    width: 40%;
    height: 40%;
    border: 2px solid #333;
    -webkit-align-self: center;
    align-self: center;
}
.button {
    width: 800px;
    margin: 100px auto 100px;
}
button {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 120px;
    height: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #333;
    font: normal 18px/50px "微软雅黑";
    color: #fff;
    text-align: center;
}