body {
    text-align: center;
}
.input_form {
    display: inline-block;
    margin-top: 50px;
    *zoom: 1;
    *display: inline;
}
.input_form label {
    font: normal 18px "微软雅黑";
}
.input_form input {
    border: 0;
    outline: none;
    background-color: #ccc;
    height: 25px;
    padding: 0 0 0 20px;
    margin: 0;
    font: normal 14px/25px "微软雅黑";
}
.input_form button {
    border: 0;
    outline: none;
    background-color: #0099FF;
    padding: 0 15px;
    margin: 0 0 0 20px;
    height: 25px;
    font: normal 16px/25px "微软雅黑";
    color: #fff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
.show ul {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    list-style: none;
    margin: 140px 0 0 ;
    padding: 0;
}
.show ul li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin: 0 0 120px 10px;
    height: 50px;
    width: 30px;
    background-color: #0099FF;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.show ul li p {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 30px;
    font: normal 12px/50px "微软雅黑";
    color: #0099FF;
    text-align: center;
}