body {
    padding: 0;
    margin: 0;
    border: 0;
}
/*
    通用样式
*/
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    display: block;
    width: 100%;
    height: 55px;
    *text-align: center;
}

/*
    导航
*/
.navigation {
    width: 1170px;
    height: 55px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
.navigation h3 i {
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat 0 -46px;
    margin: 0 10px -7px 0;
}
.navigation h3 {
    font: normal 21px/55px "黑体";
    margin: 0;
}
.navigation .nav_bar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation .nav_bar li {
    float: left;
    height: 50px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}
.navigation .nav_bar li a {
    text-decoration: none;
    font: normal 14px/55px "微软雅黑";
    color: rgb(158, 159, 163);
}
.navigation .nav_bar li:hover {
    border-bottom: 5px solid #E74F4D;
}
.navigation .nav_bar li:hover a {
    color: #E74F4D;
}
.navigation .nav_bar i {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -40px -60px;
    margin: 0 5px -3px 0;
}
/*兼容*/
.navigation .nav_bar >li+li+li+li+li+li {
    margin: 0;
}
.navigation .nav_bar >li+li+li+li+li+li a {
    color: #E74F4D;
}
.navigation .nav_bar >li+li+li+li+li+li:hover {
    border: none;
}
.bg_img {
    width: 100%;
    height: 854px;
    background-color: #fff;
    *text-align: center;
}
.bg_img .img_father {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.bg_img img {
    display: block;
    width: 1280px;
    margin: 0 auto;
    height: 100%;
}
.bg_img .bg_btn {
    display: block;
    position: absolute;
    width: 331px;
    height: 65px;
    top: 435px;
    left: 125px;
    background-color: #E74F4D;
    color: #fff;
    font: normal 30px/65px "微软雅黑";
    text-align: center;
    text-decoration: none;
}
.bg_img .bg_foot {
    width: 100%;
    min-width: 1170px;
    height: 250px;
    position: absolute;
    bottom: -125px;
    left: 0;
    background-color: #fff;
}
.bg_img .bg_foot .bg_foot_content {
    width: 1170px;
    margin: 0 auto;
    height: 250px;
}
.bg_img .bg_foot .bg_foot_content ul {
    list-style: none;
    margin: 0;
    padding: 100px 0;
    clear: both;
    overflow: hidden;
}
.bg_img .bg_foot .bg_foot_content ul li {
    width: 25%!important;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 2px solid #aaa;
    float: left;
    position: relative;
    padding: 10px 68px;
    font: normal 14px "黑体";
    text-align: center;
    color: #767677;
    *width: 155px!important;
    *height: 30px!important;
    width:292px;
}
.bg_img .bg_foot .bg_foot_content ul .first_child {
    border: none;
}
.bg_img .bg_foot .bg_foot_content i {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat 0 0;
    top: -60px;
    left: 50%;
    margin-left: -21px;
}
.bg_img .bg_foot .bg_foot_content ul>li+li i {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -42px 0;
}
.bg_img .bg_foot .bg_foot_content ul >li+li+li i {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -85px 0;
}
.bg_img .bg_foot .bg_foot_content ul >li+li+li+li i {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -125px 0;
}

/*
    灰色条
*/
.gray {
    width: 100%;
    height: 350px;
    display: block;
    background-color: #EDECEC;
    margin: 125px 0 0;
    *text-align: center;
}
.gray .gray_content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    *text-align: center;
    padding: 78px 0 79px;
}
.gray .gray_content i {
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    *text-align: center;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat 0 -83px;
}
.gray .gray_content h3 {
    text-align: center;
    font: normal 54px "黑体";
    opacity: 0.5;
    filter: alpha(50);
    margin: 30px 0 0;
}

/*
    城市
*/
.city_father {
    width: 100%;
    *text-align: center;
}
.city {
    display: block;
    width: 1280px;
    height: 340px;
    margin: 0 auto;
    *text-align: center;
    background: url("../../images/xiaowei/mission7_city.jpg") no-repeat 0 0;
    position: relative;
    text-align: center;
}
.city .city_shade {
    width: 1280px;
    height: 340px;
    position: absolute;
    background: rgba(170, 52, 50, .2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33AA3432,endColorstr=#33AA3432);
    top: 0;
    left: 0;
}
.city .city_form {
    display: inline-block;
    padding: 152px 0;
    *zoom: 1;
    *display: inline;
}
.city .city_form ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    clear: both;
}
.city .city_form ul li {
    width: 236px;
    height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border: 1px solid #BE4E48;
    text-align: left;
    line-height: 34px;
    background-color: #fff;
    position: relative;
    margin-right: 20px;
}
.city .city_form ul li span {
    font: normal 12px "微软雅黑";
    color: #A8A9AA;
    padding-left: 10px;
}
.city .city_form ul li i {
    display: inline-block;
    width: 19px;
    height: 18px;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -147px -157px;
    position: absolute;
    right: 8px;
    top: 8px;
    *zoom: 1;
    *display: inline;
}
.city .city_form ul #city_btn {
    margin: 0;
    border: none;
    background-color: #BE4E48;
    font: normal 14px "微软雅黑";
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.city .city_form .city_list {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #E3E3E4;
    width: 234px;
    overflow: hidden;
    display: none;
    *top: 37px;
}
.city .city_form .city_list a {
    display: block;
    width: 234px;
    height: 30px;
    text-align: left;
    padding-left: 25px;
    font: normal 12px "微软雅黑";
    color: #323232;
    line-height: 30px;
    position: relative;
    cursor: default;
}
.city .city_form .city_list a:hover {
    color: #fff;
    background-color: #BE4E48;
}
.city .city_form .city_list a i {
    left: 1px;
    top: 6px;
    display: none;
}
.city .city_form .city_list a:hover i {
    display: block;
}
.city .city_form ul li:hover .city_list {
    display: block;
}

/*
    活动
*/
.activity {
    width: 100%;
    height: 600px;
    display: block;
    *text-align: center;
    background-color: #F7F7F7;
}
.activity .activity_content {
    width: 1170px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 84px 0 83px;
}
.activity .activity_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.activity .activity_content ul li {
    float: left;
    margin-right: 40px;
}
.activity .activity_content ul li h3 {
    font: normal 14px/35px "黑体";
    margin: 0;
}
.activity .activity_content ul li p {
    font: normal 12px/20px "黑体";
    color: #A8A9AA;
    margin: 0;
}
.activity .activity_content ul .activity_s h3 {
    font: normal 24px "黑体";
    text-align: justify;
    width: 203px;
    height: 27px;
    padding: 0 11px;
    *text-align: center;
}
.activity .activity_content ul .activity_s h3:after {
    display: inline-block;
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}
.activity .activity_content ul .activity_l {
    margin: 0;
}
.activity .activity_content ul li div {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.activity .activity_content ul li div i{
    display: block;
    width: 203px;
    height: 311px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../images/xiaowei/mission7_avtivity.png") no-repeat -9px -11px;
}
.activity .activity_content ul>li+li div i {
    background: url("../../images/xiaowei/mission7_avtivity.png") no-repeat -9px -331px;
}
.activity .activity_content ul>li+li+li div i {
    background: url("../../images/xiaowei/mission7_avtivity.png") no-repeat -10px -652px;
}
.activity .activity_content ul>li+li+li+li div i {
    background: url("../../images/xiaowei/mission7_avtivity.png") no-repeat -10px -973px;
}

/*
    新世界
*/
.newWorld {
    width: 100%;
    height: 567px;
    background-color: #fff;
    *text-align: center;
    display: block;
}
.newWorld .newWorld_content {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    clear: both;
}
.newWorld .newWorld_content .left {
    width: 850px;
    height: 100%;
    background: url("../../images/xiaowei/mission7_newWorld.jpg") no-repeat 0 0;
}
.newWorld .newWorld_content .right {
    width: 430px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 144px 0 145px;
    *height: 278px;
}
.newWorld .newWorld_content .right .right_content {
    width: 290px;
    margin: 0 auto;
}
.newWorld .newWorld_content .right h3 {
    font: normal 20px/30px "黑体";
    margin: 0 0 20px 0;
}
.newWorld .newWorld_content .right h3 span {
    color: #E74F4D;
}
.newWorld .newWorld_content .right p {
    font: normal 12px/28px "黑体";
    margin: 0 0 40px 0;
    text-align: left;
    color: #999;
}
.newWorld .newWorld_content .right a {
    text-decoration: none;
    display: inline-block;
    width: 103px;
    height: 33px;
    background-color: #fff;
    font: normal 14px "黑体";
    color: #BE4E48;
    border: 1px solid #BE4E48;
    line-height: 33px;
    *zoom: 1;
    *display: inline;
}
.newWorld .newWorld_content .right a:hover {
    color: #fff;
    background-color: #BE4E48;
}
.newWorld .newWorld_content .right ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.newWorld .newWorld_content .right ul li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    background-color: #999;
    display: inline-block;
    cursor: pointer;
    *zoom: 1;
    *display: inline;
}
.newWorld .newWorld_content .right ul>li+li {
    background-color: #fff;
}
.newWorld .newWorld_content .right ul .newWorld_mid {
    margin: 0 10px;
}

/*
    新时代
*/
.newTime {
    display: block;
    width: 100%;
    height: 521px;
    background-color: #fff;
    *text-align: center;
}
.newTime .newTime_content {
    margin: 0 auto;
    width: 1280px;
    height: 521px;
}
.newTime .newTime_content .newTime_div {
    float: left;
    width: 425px;
    height: 521px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 185px 0;
    *height: 151px;
}
.newTime .newTime_content .newTime_1 {
    background-color: #E7504D;
}
.newTime .newTime_content .newTime_1 h3,
.newTime .newTime_content .newTime_1 p{
    font: normal 21px/1.4em "黑体";
    margin: 0;
    color: #fff;
}
.newTime .newTime_content .newTime_1 .newTime_cover div {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 31px;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
}
.newTime .newTime_content .newTime_1 a {
    display: block;
    width: 170px;
    height: 45px;
    border: 1px solid #fff;
    font: normal 21px "黑体";
    line-height: 45px;
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
}
.newTime .newTime_content .newTime_1 a:hover {
    border: 1px solid #E7504D;
    background-color: #fff;
    color: #E7504D;
}
.newTime .newTime_content .newTime_2 {
    background-color: #fff;
}
.newTime .newTime_content .newTime_2 h3,
.newTime .newTime_content .newTime_2 p{
    color: #333;
}
.newTime .newTime_content .newTime_2 .newTime_cover div {
    background-color: #999;
}
.newTime .newTime_content .newTime_2 a {
    border: 1px solid #E7504D;
    color: #E7504D;
}
.newTime .newTime_content .newTime_2 a:hover {
    background-color: #E7504D;
    color: #fff;
}
.newTime .newTime_content .newTime_img {
    position: relative;
    width: 430px;
    height: 521px;
    border: none;
    background: url("../../images/xiaowei/mission7_newTime.jpg") no-repeat 0 0;
}
.newTime .newTime_content .newTime_img .newTime_shade {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 0, .4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66030000,endColorstr=#66030000);
    top: 0;
    left: 0;
}
.newTime .newTime_content .newTime_img:hover .newTime_shade {
    display: block;
}

/*
    志愿申请
*/
.apply_volunteer {
    display: block;
    width: 100%;
    height: 750px;
    background-color: #fff;
    *text-align: center;
}
.apply_volunteer .apply_content {
    width: 1280px;
    height: 750px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 115px;
    *height: 635px;
}
.apply_volunteer .apply_content .apply_head {
    text-align: center;
}
.apply_volunteer .apply_content .apply_head h3 {
    font: normal 21px/1.4em "黑体";
    margin: 0;
    *margin-bottom: 15px;
}
.apply_volunteer .apply_content .apply_head i {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 31px;
    height: 2px;
    background-color: #E7504D;
    overflow: hidden;
}
.apply_volunteer .apply_content .apply_head p {
    font: normal 12px/1.5em "微软雅黑";
    color: #999;
    width: 424px;
    margin: 0 auto;
}
.apply_volunteer .apply_content .apply_foot {
    padding-top: 100px;
}
.apply_volunteer .apply_content .apply_foot .apply_caution {
    width: 320px;
    margin-left: 130px;
    clear: both;
    overflow: hidden;
}
.apply_volunteer .apply_content .apply_foot .apply_caution .caution_content {
    height: 115px;
}
.apply_volunteer .apply_content .apply_foot .apply_caution .caution_content h3 {
    font: normal 14px/1.2em "黑体";
    margin: 0 0 20px;
    color: #666;
    text-align: left;
}
.apply_volunteer .apply_content .apply_foot .apply_caution .caution_content p {
    font: normal 12px/1.4em "黑体";
    color: #999;
}
.apply_volunteer .apply_content .apply_foot .apply_caution .caution_content span {
    float: right;
    font: normal 12px "宋体";
    color: #999;
    cursor: pointer;
    position: relative;
}
.apply_volunteer .apply_content .apply_foot .apply_caution .caution_content span i {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: absolute;
    height: 6px;
    width: 10px;
    top: 3px;
    left: -18px;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -129px -167px;
}
.apply_volunteer .apply_content .apply_foot .apply_form {
    width: 641px;
    height: 345px;
    margin-right: 140px;
}
.apply_volunteer .apply_content .apply_foot .apply_form .apply_form_c {
    position: relative;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 310px;
    height: 41px;
    margin: 0 16px 15px 0;
}
.apply_volunteer .apply_content .apply_foot .apply_form span {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 60px;
    height: 41px;
    background-color: #EDEDEF;
    font: normal 12px "微软雅黑";
    line-height: 41px;
    color: #221814;
    padding-left: 15px;
    _width: 75px;
    position: absolute;
    top: 0;
    left: 0;
}
.apply_volunteer .apply_content .apply_foot .apply_form input {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 235px;
    height: 41px;
    outline: none;
    padding: 0;
    border: 0;
    background-color: #EDEDEF;
    line-height: 41px;
    position: absolute;
    top: 0;
    right: 0;
}
.apply_volunteer .apply_content .apply_foot .apply_form .apply_none {
    margin: 0 0 15px 0;
}
.apply_volunteer .apply_content .apply_foot .apply_form textarea {
    resize: none;
    background-color: #EDEDEF;
    height: 120px;
    width: 601px;
    border: 0;
    outline: none;
    font: normal 12px/20px "微软雅黑";
    color: #221814;
    padding: 10px 20px;
    overflow: hidden;
    _width: 641px;
}
.apply_volunteer .apply_content .apply_foot .apply_form button {
    font: normal 14px/41px "黑体";
    color: #000;
    width: 100%;
    height: 41px;
    background-color: #EDEDEF;
    padding: 0;
    margin: 10px 0 0;
    border: none;
    outline: none;
    cursor: pointer;
}

/*
    底部
*/
.footer {
    width: 100%;
    height: 378px;
    background-color: #32353E;
    position: relative;
    display: block;
    padding-top: 37px;
}
.footer .footer_top {
    text-align: center;
    color: #fff;
    height: 281px;
}
.footer .footer_top h3 {
    font: normal 21px "黑体";
}
.footer .footer_top p {
    width: 472px;
    font: normal 12px/1.5em "宋体";
    margin: 0 auto 30px;
}
.footer .footer_top form {
    height: 41px;
}
.footer .footer_top input,
.footer .footer_top button {
    display: inline-block;
    width: 421px;
    height: 41px;
    *zoom: 1;
    *display: inline;
    border: 0;
    padding: 0 0 0 10px;
    margin: 0;
    font: normal 14px/41px "微软雅黑";
    outline: none;
}
.footer .footer_top button {
    width: 81px;
    height: 41px;
    font-size: 15px;
    line-height: 41px;
    background-color: #6F7178;
    color: #fff;
    padding: 0;
    cursor: pointer;
}
.footer .footer_top .footer_icon {
    list-style: none;
    margin: 0;
    padding: 50px 0;
}
.footer .footer_top .footer_icon li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 29px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -139px -97px;
}
.footer .footer_top .footer_icon .icon_2 {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -135px -72px;
}
.footer .footer_top .footer_icon .icon_3 {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -134px -47px;
}
.footer .footer_top .footer_icon .icon_4 {
    background: url("../../images/xiaowei/mission7_sprit.png") no-repeat -139px -122px;
}
.footer .footer_foot {
    background-color: #303039;
    *text-align: center;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .footer_foot div {
    width: 1280px;
    height: 60px;
    margin: 0 auto;
}
.footer .footer_foot div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.footer .footer_foot div ul li {
    display: inline-block;
    color: #fff;
    font: normal 14px/60px "黑体";
}
.footer .footer_foot div ul li a {
    text-decoration: none;
    color: #fff;
}