/*
    通用样式
*/
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    width: 980px;
    height: 1386px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 44px;
}

/*
    头部
*/
.head {
    width: 892px;
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid #938e8c;
    margin-bottom: 35px;
}
.head .left {
    width: 110px;
    padding-top: 45px;
    text-align: center;
    font-size: 12px;
    font-family: 黑体 sans-serif;
    color: #fff;
    background-color: #d45c5b;
}
.head .right {
    padding-top: 45px;
    color: #d45c5b;
    font-size: 12px;
    font-family: 黑体 sans-serif;
}

/*
    底部
*/
.foot {
    width: 892px;
    height: 61px;
    border-top: 1px solid #938e8c;
}
.foot .right {
    font-size: 12px;
    font-family: 黑体 sans-serif;
    color: #d45c5b;
}

/*
    part_a
*/
.part_a {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}
.part_a .a_img {
    clear: both;
    overflow: hidden;
    width: 641px;
    height: 301px;
    background: url("../../images/mession6_a.png") no-repeat 0 0;
}
.part_a .a_img div {
    width: 191px;
    height: 301px;
}
.part_a .a_img .left {
    background-color: rgba(74, 100, 76, .5);
}
.part_a .a_img .right {
    background-color: rgba(230, 184, 183, .5);
}
.part_a .a_letter {
    width: 203px;
    border-top: 2px solid #cc8091;
}
.part_a .a_under {
    font-family: 微软雅黑 sans-serif;
    color: #000;
    font-size: 24px;
    font-variant: small-caps;
    text-decoration: underline;
    margin: 0;
    line-height: 35px;
}
.part_a .a_small {
    font: normal 12px/10px 楷体;
    color: #676767;
    margin: 0;
}
.part_a .a_green {
    font: normal 116px 微软雅黑;
    color: #75b86b;
    font-style: italic;
    margin: 0 0 0 -20px;
}
.part_a .a_letter div {
    color: #cc8091;
}
.part_a .a_red {
    font: normal 55px 微软雅黑;
    margin: 0;
}
.part_a .a_p {
    padding-top: 18px;
    margin-left: 10px;
}
.part_a .a_p1 {
    font: normal 21px 微软雅黑;
    margin: 0;
}
.part_a .a_p2 {
    font: normal 12px 微软雅黑;
    margin: 0;
}

/*
    part_b
*/
.part_b {
    clear: both;
    overflow: hidden;
    margin-bottom: 50px;
}
.part_b .what {
    width: 230px;
    margin-right: 30px;
}
.part_b div h3 {
    text-decoration: underline;
    font: bold 16px 微软雅黑;
    color: #418c59;
    margin: 10px 0;
}
.part_b div p {
    font: normal 12px/16px 宋体 sans-serif;
    color: #767777;
    opacity: 0.7;
    filter: alpha(70);
    margin: 0;
}
.part_b .when h3 {
    color: #d2994f;
}
.part_b .how {
    width: 140px;
}
.part_b .how h3 {
    color: #cc7680;
}
.part_b .how p {
    line-height: 21px;
}
.part_b .how .percent {
    margin: 20px 0 0 10px;
}
.part_b .how .percent p{
    opacity: 1;
    filter: alpha(100);
    font: normal 12px/16px 微软雅黑;
}
.part_b .how .percent span {
    font: italic 12px/16px 微软雅黑;
    color: #cd4a48;
    opacity: .7;
    filter: alpha(70);
}

/*
    part_c
*/
.part_c {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}
.part_c .left_c {
    width: 415px;
    margin-right: 19px;
}
.part_c .c_head {
    border-bottom: 2px solid #11456b;
}
.part_c .c_head h3 {
    font: bold 42px/16px 黑体;
    color: #11456b;
    margin: 0;
}
.part_c .c_head h3 span {
    font: italic 72px 黑体;
    color: #f5e327;
}
.part_c .c_head p {
    font: bold 33px 黑体;
    color: #11456b;
    margin: 16px 0;
}
.part_c .c_foot {
    padding-top: 25px;
}
.part_c .c_foot p {
    text-align: justify;
    font: normal 12px/16px 宋体 sans-serif;
    margin: 0;
    color: #767777;
}
.part_c .c_foot b {
    float: left;
    font: normal 70px 微软雅黑;
    height: 80px;
    color: #f5e327;
    margin: -12px 8px 0 0;
}
.part_c .c_foot .c_p1 {
    text-indent: 2em;
}
.part_c .c_foot img {
    float: right;
    margin: 20px 0 20px 20px;
}
.part_c .right_c .img_c {
    position: relative;
    width: 458px;
    height: 257px;
    background: url("../../images/mission6_c.png") no-repeat 0 0;
}
.part_c .right_c .img_cs {
    position: absolute;
    width: 100%;
    height: 61px;
    bottom: 0;
    left: 0;
    background-color: rgba(3, 0, 0, .4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 40px 9px;
    margin-bottom: 20px;
}
.part_c .right_c .img_cs .cs_1 {
    font: normal 26px 微软雅黑 sans-serif;
    color: #fff;
    border-left: 3px solid #72b16a;
    padding: 4px 10px 5px;
    display: inline-block;
}
.part_c .right_c .img_cs .cs_2 {
    font: italic 16px 微软雅黑 sans-serif;
    color: #72b16a;
}
.part_c .category_c {
    width: 458px;
    height: 318px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    background-color: rgb(237,236,214);
}
.part_c .category_c .top_c i {
    display: inline-block;
    width: 10px;
    height: 9px;
    background: url("../../images/mission6_d.png") no-repeat 0 0;
    margin-right: 10px;
}
.part_c .category_c .top_c .l_c {
    text-align: left;
    display: inline-block;
    font: normal 16px/20px simsun sans-serif;
    color: #5a5b5b;
    width: 374px;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 4px;

}
.part_c .category_c .top_c .r_c {
    text-align: right;
    display: inline-block;
    font: italic 12px/20px simsun sans-serif;
    color: #5a5b5b;
}
.part_c .category_c .bottom_c {
    clear: both;
    overflow: hidden;
}
.part_c .category_c .bottom_c .left_c{
    position: absolute;
    width: 260px;
    height: 160px;
    background-color: rgb(212,92,91);
    bottom: 0;
    left: 0;
    padding: 37px 8px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.part_c .category_c .bottom_c .left .right {
    padding: 1px 6px;
    border-left: 2px solid #fff;
}
.part_c .category_c .bottom_c .zero_c {
    font: normal 110px 微软雅黑;
    color: #fff;
    margin: -31px 3px 0;
}
.part_c .category_c .bottom_c .num_c {
    font: italic 21px/24px 黑体;
    color: #fff;
    margin: 0;
}
.part_c .category_c .bottom_c .hello_c {
    font: normal 12px 黑体;
    color: #fff;
    margin: 3px 0;
}
.part_c .category_c .bottom_c .right_c {
    width: 188px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0 0 15px;
}
.part_c .category_c .bottom_c .right_c p{
    font: italic 14px/16px 黑体;
    color: #5a5b5b;
    margin: 0;
    padding: 10px 2px 0 0;
    text-align: justify;
}
.part_c .category_c .bottom_c .right_c b {
    font: normal 72px 黑体;
    color: #d45d5c;
}
.part_c .category_c .bottom_c .right_c .c_b1 {
    margin: 0 0 -60px -40px;
}
.part_c .category_c .bottom_c .right_c .c_b2 {
    margin: 0 -40px 0 0;
}